body {
font-family: Monospace;
background-color: #000;
color: #fff;
margin: 0;
padding: 0;
}
h1 {
text-align: center;
margin: 20px 0;
}
.grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 20px;
padding: 20px;
}
.card {
background: #000;
padding: 16px;
border-radius: 0px;
border: 1px solid #212121;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
transform: scale(1.05);
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card h2 {
margin: 0 0 10px;
font-size: 18px;
color: #fff;
}
.card p {
margin: 5px 0;
color: #fff;
}
.card a {
color: #007BFF;
text-decoration: none;
}
.card a:hover {
text-decoration: underline;
}
.tag {
display: inline-block;
background-color: #212121;
color: #fff;
padding: 5px 10px;
margin: 5px;
cursor: pointer;
font-size: 12px;
transition: background-color 0.3s ease;
}
.tag:hover {
background-color: #fff;
color: #000;
}
@media (max-width: 600px) {
.grid {
    grid-template-columns: 1fr; /* One column on small screens */
}
}
/* Navbar styles */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #000;
border: 1px solid #212121;
padding: 10px 20px;
color: #fff;
position: sticky;
top: 0;
z-index: 1000;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-brand {
font-size: 20px;
font-weight: bold;
}
.nav-search {
display: flex;
align-items: center;
}
.nav-search input {
display: inline-block;
padding: 5px;
border: 1px solid #212121;
font-size: 14px;
display: none; /* Hidden by default on small screens */
}
.nav-search button {
background: none;
border: none;
color: #fff;
font-size: 20px;
cursor: pointer;
}
.nav-search button:hover {
opacity: 0.8;
}

/* Responsive design */
@media (min-width: 600px) {
.nav-search input {
    display: inline-block; /* Visible on larger screens */
    margin-right: 10px;
}
#searchIcon {
    display: none; /* Hide search icon on larger screens */
}
}
.nav-search input {
transition: all 0.3s ease;
}
