/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

/* Main Content */
main {
    padding: 20px;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
nav{
    padding: 20px;
}
/* Small Screen: Hide Sidebar and Show Toggle Button */
@media (max-width: 800px) {
    main {
        margin-left: 0;
    }
}
