:root {
  font-family: sans-serif;
  background-color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  background-color: #000;
}

body {
  padding: 30px;
  font-size: 16px;
  background-color: #000;
  height: 100%;
  margin-left: -30px;
}

body>* {
  margin-bottom: 25px;
}

body>*>* {
  margin-bottom: 25px;
}

table td,
table th {
  vertical-align: top;
  padding: 2.5px 5px;
  text-align: left;
  border: 1px solid;
}

table td>pre,
table th>pre {
  border: 1px solid;
  background: none;
  padding: 0;
  margin: 0;
}

header {
  float: left;
  margin: 2px 30px 30px 0;
}

nav {
  margin: 0 0 30px;
}

nav ul {
  padding: 0;
  margin: 0 45px 30px 0;
  float: left;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  padding: 1px 4px;
}

nav ul li a:hover {
  background: #fff !important;
  color: black !important;
  text-decoration: none;
}

h1 {
 font-family: sans-serif;
 color: #fff;
 max-width: 400px;
}
h2 {
  font-family: sans-serif;
  max-width: 400px;
  font-style: italic;
  color: #fff;
}

h4 {
  font-style: italic;
  font-weight: normal;
  line-height: 24px;
  text-decoration: underline dotted;
  max-width: 400px;
}

ul,
ol {
  margin: 0 30px 30px 30px;
}

ul ul {
  margin-bottom: 0;
}

p {
  line-height: 160%;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover,
::selection {
  background-color: #fff;
  color:#000;
  text-decoration: none;
}

a strong:hover,
::selection {
  background-color: #fff !important;
  color: #000 !important;
  text-decoration: none;
}

q {
  font-family: serif;
  font-size: 18px;
  font-style: italic;
  display: block;
  max-width: 400px;
}

img {
  max-width: 100%;
  display: inline-block;
  margin: -20 -20 25px;
}


hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

blockquote>p {
  color: white;
  background: black;
  padding: 0.5em 10px;
  font-family: sans-serif;                              
  font-size: 16px;
  font-style: italic;
}

blockquote::selection {
  background-color: #000 !important;
  color: #fff !important;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

main>ul li {
  line-height: 150%;
}

.poem {
  font-family: serif;
  font-style: italic;
  font-size: 18px;
  line-height: 160%;
  margin: 0 0 30px 0;
  background: none;
  padding: 0;
  margin: 0;
}
input[type=text] {
  font-color: #000 !important;
}

.footer {
  border-top: 1.6px solid #007bff;
  padding: 3px 0 0 16px;
  clear: both;
}
        .content {
            padding: 20px;
        }

        .sidebar {
            background-color: #000;
            padding: 20px;
        }

        .sidebar h2 {
            margin-top: 0;
            color: #fff;
        }

     .sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 5px 0;
}

.sidebar ul li a {
    color: #007bff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #007bff;
}

.sidebar ul li {
    /* Add visual indentation */
    padding-left: 10px;
}

        .toggle-btn {
            display: none;
            position: fixed;
            right: 20px;
            top: 20px;
            z-index: 999;
            background-color: transparent;
            color: white;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
        }
        @media (min-width: 768px) {
            .content {
                margin-right: 250px;
            }

            .sidebar {
                width: 250px;
                height: 100vh;
                position: fixed;
                right: 0;
                top: 0;
            }
        }

        @media (max-width: 767px) {
            .sidebar {
                position: fixed;
                top: 0;
                right: 0;
                height: 100vh;
                width: 250px;
                transform: translateX(100%);
                border: 1px solid #007bff;
            }

            .sidebar.active {
                transform: translateX(0);
            }

            .toggle-btn {
                display: block;
            }
        }

#searchInput {
    width: 120px;
    padding: 4px;
    margin-top: 0px;
    margin-bottom: -16px;
    font-size: 16px;
    margin-left: 20px;
    background-color: #000;
    border: #121212 solid 1px;
    color: #fff;
    outline: none;
}

#searchResults {
    margin-top: 20px;
}

.search-result {
    margin-bottom: 15px;
    margin-left: 20px;
}

.search-result h3 {
    margin: 0;
    font-size: 20px;
}

.search-result p {
    margin: 0;
    font-size: 14px;
}

.microblog-entry h3 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

.microblog-date {
    font-size: 0.9em;
    color: #f4f4f4;
    margin-bottom: 1em;
}

.anchor-link {
    font-size: 0.8em;
    color: #007bff;
    text-decoration: none;
}

.anchor-link:hover {
    text-decoration: underline;
}

.logo {
            position: absolute;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
            background-color: transparent;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        .logo img {
            max-width: 60px;
            height: 40px;
            width: 40px;
            margin: 0 0 25px;
        }

